<%= content_tag :h1, @round.name, class: "heading" %>

<div class="row row-collapsed hidden-sm">
  <div class="flex w-full">
    <span class="p-3">URL for OBS:</span>
    <pre class="p-3 bg-gray-200 flex-1 border-l"><%= screen_admin_round_url @round %></pre>
  </div>
</div>

<hr class="my-4 hidden-sm"/>

<% @round.calls.order(:name).each do |call| %>
  <%= content_tag :div, id: "call-#{call.id}", class: "row #{"row-muted" if call.hidden}" do %>
    <%= link_to admin_call_path(call, call: { hidden: !call.hidden }), method: :put, class: "row-title" do %>
      <%= call.name %>
      <%= content_tag :span, (call.hidden ? "Show" : "Hide"), class: "row-detail" %>
    <% end %>

    <div>
      <%= link_to 'Edit', edit_admin_call_path(call), class: "row-button row-button-edit" %>
      <%= link_to 'Delete', [:admin, call], method: :delete, data: { confirm: 'Are you sure?' }, class: "row-button row-button-delete" %>
    </div>
  <% end %>
<% end %>

<div class="row row-muted">
  <%= link_to "+ New Call", new_admin_round_call_path(@round), class: "row-title" %>
</div>

<hr class="my-4"/>

<%= form_with(model: [:admin, @round], local: true) do |form| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
        <% @round.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :header, class: "field-label" %>
    <%= form.text_field :header, class: "field-input" %>
  </div>

  <div class="field">
    <%= form.label :footer, class: "field-label" %>
    <%= form.text_field :footer, class: "field-input" %>
  </div>

  <div class="actions">
    <%= form.submit class: "submit" %>
    <%= link_to "Reset calls", admin_round_path(@round, params: { round: { reset_calls: true} }), method: :put, class: "submit submit--secondary" %>
  </div>
<% end %>
