<%= content_tag :h1, @round.name, class: "heading" %>

<div class="row row-collapsed hidden-sm">
  <div class="flex w-full">
    <span class="p-3">URL for OBS:</span>
    <pre class="p-3 bg-gray-200 flex-1 border-l"><%= screen_round_url @round %></pre>
  </div>
</div>

<hr class="mb-4 hidden-sm"/>

<% @round.calls.order(:name).each do |call| %>
  <%= content_tag :div, id: "call-#{call.id}", class: "row #{"row-muted" if call.hidden}" do %>
    <%= link_to call_path(call, call: { hidden: !call.hidden }), method: :put, class: "row-title" do %>
      <%= call.name %>
      <%= content_tag :span, (call.hidden ? "Show" : "Hide"), class: "row-detail" %>
    <% end %>

    <div>
      <%= link_to 'Edit', edit_call_path(call), class: "row-button row-button-edit" %>
      <%= link_to 'Delete', call, method: :delete, data: { confirm: 'Are you sure?' }, class: "row-button row-button-delete" %>
    </div>
  <% end %>
<% end %>

<div class="row row-muted">
  <%= link_to "+ New Call", new_round_call_path(@round), class: "row-title" %>
</div>
