<%= form_with(model: call, url: url, local: true) do |form| %>
  <% if call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(call.errors.count, "error") %> prohibited this call from being saved:</h2>

      <ul>
        <% call.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "field-label" %>
    <%= form.text_field :name, class: "field-input" %>
  </div>

  <div class="actions">
    <%= form.submit class: "submit" %>
  </div>
<% end %>
