<!DOCTYPE html>
<html>
  <head>
    <title>Bingo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-200">
    <div class="bg-white mb-4 shadow-lg">
      <div class="max-w-screen-lg mx-auto p-3">
        <%= link_to "Bingo", admin_rounds_path %>
      </div>
    </div>

    <div class="max-w-screen-lg mx-auto md:p-3">
      <% if notice %>
        <div class="bg-blue-100 text-blue-700 px-4 py-3 rounded relative mb-4 shadow-lg" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <div class="bg-white md:rounded-lg p-4 shadow-lg">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
